---
title: Master Jet Pressure Washing
---
<section class="landing-hero">
  <div class="container">
    <div class="text-underlay">
        <h1>Master Jet Pressure Washing Ltd.</h1>
        <p>Providing pressure washing services to Edmonton and surrounding area</p>
    </div>
    {% include buttons/get-a-quote.html %}
  </div>
</section>

<section id="aboutUs" class="mj-bg-primary">
    <div class="container mj-text-near-white py-5">
        <h2 class="mb-5">About Us</h2>
        <p>Master Jet Pressure Washing Ltd. is an industry leader in power and hot pressure washing. Since 2005, we have grown into one of the largest commercial, industrial and residential exterior cleaning businesses in Alberta. We provide services in Edmonton and surrounding areas including Red Deer, Fort McMurray, Leduc, Fort Saskatchewan and St Albert. We also have full insurance coverage to protect your company against any potential mishaps.</p>
        <p>Master Jet’s customers include some of Alberta’s largest retail businesses, restaurant chains, commercial businesses, and property management companies. We use phosphate-free cleaning products and take special care to block storm drains to avoid grease or oil entering the storm water system.</p>
        <p>Master Jet is owned and operated by Andrew Mawer whose aim has always been to service customers promptly and to the highest standard. Andrew personally supervises every project, ensuring a quality standards that are second to none in exterior retail and commercial cleaning.</p>
        <div class="center-btn">
          <a class="btn mj-btn mj-btn-secondary" href="{{ site.url }}/services/">Our Services</a>
        </div>
    </div>
</section>

<section>
    <div class="container py-5">
        <h2 class="mb-5">Our Work</h2>
        <div class="card-deck">
                <div class="card">
                  <img class="card-img-top" src="/images/index/index-commercial.jpg" alt="Commercial Buildings">
                  <div class="card-body">
                    <h3 class="card-title">Commercial Buildings</h3>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="/images/index/index-bigbox.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h3 class="card-title">Big Box Stores</h3>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="/images/index/index-concrete.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h3 class="card-title">Concrete &amp; Pavement</h3>
                  </div>
                </div>
              </div>
        {% include buttons/see-portfolio.html btn-text="See More Work" %}
    </div>
</section>

<section>
  <div class="container py-5">
    {% include contact-us.html %}
  </div>
    
</section>