---
title: About
permalink: /services/
---
<section>

</section>

<section id="weAreMasters">
    <div class="container">
        <h2 class="text-center">We're Pressure Washing Masters!</h2>
        <ul class="mx-auto my-4">
            <li>
                <h3>Commercial Buildings</h2>
                <p>We take care of restaurants, retail stores, strip mall exteriors</p>
            </li>
            <li>
                <h3>Residential Buildings</h3>
                <p>Whether it's a condominium complex or a single house we'll get the job done</p>
            </li>
            <li>
                <h3>Warehouse Exteriors & Interiors</h3>
                <p>From Weldingshops to oil stains to warehouse floors and walls</p>
            </li>
            <li>
                <h3>Concrete & Pavement</h3>
                <p>Everything from parking lots, sidewalks, drive-thrus, dumpsters, compactors and more</p>
            </li>
            <li>
                <h3>Miscellaneous Washing</h3>
                <p>Something tough to wash? We do graffiti removal, paint and gum spot removal just to name a few</p>
            </li>
        </ul>
        {% include buttons/get-a-quote.html %}
    </div>
</section>

<section>
    <div class="container">
        <h2 class="text-center">What Sets Us Apart</h2>
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">On Site</h3>
                    <p class="card-text">Every project is directly undertaken or supervised by Master Jet’s owner to ensure the highest quality
                        standards. Master Jet offers free on-site quotes prior to cleaning and walks you through the process
                        before getting started. Also, our quotes are final; You pay what we quote.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Experience</h3>
                    <p class="card-text">Cleaning with heat and high pressure requires care. Master Jet’s cleaning processes are backed by over
                        14 years of experience. We use high quality equipment to clean pressed steel, aluminum, brick and
                        concrete surfaces for a wide range of public and private sector clients.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Quality</h3>
                    <p class="card-text">Maintaining a clean building enhances your environment and in turn increases revenues by creating a pleasant
                        experience for the customer. Whether you're preparing for new paint or extending the life of your
                        building exterior we will leave you with a clean and refreshed finish.
                    </p>
                </div>
            </div>
        </div>
        {% include buttons/see-portfolio.html btn-text="See Our Work" %}
    </div>
</section>