<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    
    <a class="navbar-brand ms-lg-5" href="/">
      <img src="/images/master-jet-logo-white.png" alt="Master Jet Pressure Washing Ltd. Logo" itemprop="logo" title="Master Jet Pressure Washing Ltd. Logo"/>
    </a>

    <button class="navbar-toggler mj-text-near-white"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation">
      {% include icons/bars.html %}
    </button>
    
    <div class="collapse navbar-collapse py-3" id="navbarText">
      <div class="navbar-nav ms-lg-auto text-center">
          <a class="nav-link mx-md-5" href="/">Home</a>
          <a class="nav-link mx-md-5" href="/edmonton-pressure-washing-service/">Services</a>
          <a class="nav-link mx-md-5" href="/portfolio/">Portfolio</a>
          <a class="nav-link mx-md-5" href="/contact/">Contact</a>
      </div>
    </div>
  </div>
</nav>