<div class="footer">
    <div class="container pt-5">
        <div class="row">
            <a class="btn mj-btn mj-btn-secondary mx-auto" href="tel:{{ site.phone }}">{% include icons/phone.html %} <span>Phone <span itemprop="telephone">{{ site.phone }}</span></span></a>
            <a class="btn mj-btn mj-btn-secondary mx-auto" href="mailto:{{ site.email }}">{% include icons/envelope.html %} <span>Email <span itemprop="email">{{ site.email }}</span></span></a>
        </div>
        <div>
                <p class="text-center">&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
                <p class="citation"><a href="/citation.html">Citations</a></p>
        </div>
    </div>
</div>