.landing-hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/index/index-splash.jpg");
    background-position: center right;
    width: auto;
    height: 80%;
    
    .container {
        height: 100%;
        text-align: center;
    }

    div.text-underlay {
        text-align: center;
        color: $near-white;
        position: relative;
        top: 40%;
        background-color: rgba($text-underlay,$alpha);
    }
    
    .hero-button {
        position: relative;
        top: 50%;
    }
}

#aboutUs {
    text-align: justify;
}

#ourWork {
    .container {
        max-width: 1000px;
    }
}

#contactUs {
    color: $near-white;
}