nav.navbar {
    padding-top: 0;
    padding-bottom: 0;
    background-color: $bg-primary;

    a.navbar-brand > img {
        max-height: 80px;
    }
    button > img {
        color: $near-white;
    }

    a.nav-link {
        color: $near-white;
        transition: ease 0.2s;

        &:hover {
            color: darken( $near-white, 20%);
        }
    }
}

