#portfolioSplash {
    background-image: url("/images/portfolio/portfolio-splash.jpg");
}

#gallery {
    .card {
        max-width: 280px;
        max-height: 300px;
        overflow: hidden;

        margin-left: auto;
        margin-right: auto;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }
}