#weAreMasters > div > ul {
    padding-left: 0;
    list-style-type: none;
    li {
        background-image: url("#{$base-url}/images/tick.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        padding-left: 65px;
        height: 55px;
        margin-bottom: 20px;
        h3 {
            font-size: 1.4em;
            text-align: left;
            margin-bottom: 0;
        }
        p {
            margin-bottom: 0;
        }
    }
}