section#servicesSplash {
    background-image: url("/images/services-splash.jpg");
}

#weAreMasters > div > ul {
   padding-left:0;
    list-style-type: none;
    max-width: 510px;
    li {
        background-image: url("#{$base-url}/images/tick.svg");
        background-size: auto;
        background-repeat: no-repeat;
        background-position: top left;
        padding-left: 65px;        
        margin-bottom: 20px;
        h3 {
            font-size: 1.4em;
            text-align: left;
            margin-bottom: 0;
            color: $text-primary;
        }
        p {
            margin-bottom: 0;
            color: $text-secondary
        }
    }
}

section#setsUsApart {
    background-image: url("/images/services-what-sets-us-apart.jpg");
    background-position: center top;
    background-size: cover;

    .mj-card{
        color:$near-white;
        background-color: rgba($text-underlay, $alpha);
        border: 0;     
    }
    .container {
        max-width: 1000px;
    }
}