html, body {
    height: 100%;
    width: auto;
    color: $text-secondary;
}
h1,h2,h3,h4,h5 {
    text-align: center;
}
.splash {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    h1 {
        color: $near-white;
        line-height: 275px;
        vertical-align: middle;
        margin-bottom: 0;
    }
}

p {
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 800px;
}

.mj-bg-primary {
    background-color: $bg-primary;
}

.mj-text-near-white {
    color: $near-white;
}

.mj-text-primary {
    color: $text-primary;
}

div.center-btn {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.mj-btn {
    border: 0;
    border-radius: 45px;
    min-width: 170px;
    line-height: 40px;
    transition: 0.3ms;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.mj-btn-primary {
    background-color: $btn-primary;
    color: $near-white;

    &:hover {
        background-color: darken($btn-primary, 11%);
    }
}

a.mj-btn-secondary {
    background-color: $btn-secondary;
    color: $near-white;

    &:hover {
        background-color: darken($btn-secondary, 11%);
    }
}

section.footer {
    line-height: 100px;
    color: $near-white;
    background-color: $bg-primary;

    p {
        margin-bottom: 0;
    }
}
