.landing-hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/index/index-splash.jpg");
    background-position: center right;
    width: auto;
    height: 42em;
    min-height: 375px;
}

.container {
    height: 100%;
}

.text-underlay {
    color: $near-white;
    position: relative;
    top: 25%;
    background-color: $text-underlay;

    padding: 2em;
    border-radius: 5em;

    text-align: center;
    font-size: 1.25em;
}

.hero-button {
    position: relative;
    top: 30%
}

@media screen and (max-width: 600px), screen and (max-height: 600px) {
    .text-underlay { top: 10%; }
    .text-underlay .d-desktop { display: none; }
    .hero-button { top: 18%; }
}


#aboutUs {
    background-image: url("/images/index/multi-drops.png");
}

#ourWork .container { max-width: 1000px; }

#contactUs { color: $near-white; }