#portfolioSplash { background-image: url('/images/portfolio/portfolio-splash.jpg'); }

.gallery .card {
   max-width: 250px;
   height: 230px;
   overflow: hidden;
   object-fit: cover;

   margin-left: auto;
   margin-right: auto;
}

.gallery img {
   width: 100%;
}
