$bg-primary: #003157;
$bg-secondary: #E7EAEE;
$btn-primary: #FF8812;
$btn-secondary: #005BA0; 


$near-white: #F5F7F7;
$text-primary: #052B78;
$text-secondary: #484848;

// Text Underlay
$text-underlay: #03203bb4;
$gray: #9A9A9A;
$alpha: 0.3;

@import "shared";
@import "index";
@import "services";
@import "portfolio";
@import "contact";
@import "grocery-cart";